body{
    width: 500px;
    height: 450px;
    margin: 0px;
    padding: 10px;
    text-align: center;
    line-height:1,5em;
    color: #393d41;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
   font-weight: 400;
   font-style: normal;

}
   

header{
    background-color: black;
    padding-left: 100px;
    padding-right: 100px;
}

#testa{
    color: #393d41; 
    text-align: center;
    background-image:url(../banner.jpg);
    background-size: contain;   
    line-height: 2em;
    padding-top: 10px;
}
.partiamo{
    background-color:#f04c2f;
    color: white;
    border-color: #f04c2f;
    outline:none;
}

h1{
    font-weight: bold;
}
h1, h3{
    color: #25a2c3;
}

footer p{
    font-size:15px;
}
span{
    text-decoration: underline white;}

#red{
    background-color:#e22d0e ;
    color:white ;
    padding:20px ;
    
}

.notebook{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.foto1{
    width: 400px;
    padding-top: 2em;
}
.foto2{
    width: 400px;
}
.foto3{
    width: 400px;
}

footer{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #25a2c3;
    color: white;
}
   
hr{
    width: 50%;
}